<section id="modular-text" class="section {{ page.header.class}} bg-gray">
    <section class="container {{ grid_size }}">
        <div align="center">
           {{ content }}
        </div>
    </section>
</section>
